.tx-cal-controller fieldset{
	float: left;	
}

.events_loader{
	float: left;
	width: 100%;
	height: 50px;
	margin-top: 10px;
	background-image: url(images/events_loader.gif);
	background-position: top center;
	background-repeat: no-repeat;	
}


/*
===================================================================================================================
Top Menu EVENTS
===================================================================================================================
*/
#top_menu_ul .event_list{
	float:left;
	width: 245px;
	padding: 5px 0px 0px 0px;
}
#top_menu_ul .event_list .item{
	float:left;	
	padding:5px 10px 5px 10px;
}
#top_menu_ul .event_list .item:hover{
	background-color:#FFF;
}
#top_menu_ul .event_list .item a{
	padding:0px!important;
	width:225px!important;
}
#top_menu_ul .event_list .image{
	float:left;
	width:40px;
	height:40px;
	background-color:#009;
	margin-right:5px;
}
#top_menu_ul .event_list .date{
	float:left;
	width: 180px;
	font-size:11px;
	color:#323232;
	line-height: 12px;
	font-family:Arial, Helvetica, sans-serif;
}
#top_menu_ul .event_list .title{
	float:left;	
	width: 180px;
	color:#0068ab;
	line-height: 14px;
	font-family:Arial, Helvetica, sans-serif;
}


/*
===================================================================================================================
SEARCH BOX
===================================================================================================================
*/
#event_search{
	float:left;
	width: 470px;
	margin-bottom: 20px;
}
#event_search .item{
	float:left;
	width: 470px;
	margin-bottom:10px;
}
#event_search label{
	float:left;
	width: 120px;
	line-height: 28px;
}
#event_search .labeldate{
	float:left;
	width: 60px;	
}
#event_search .date input{
	float:left;
	width: 100px;
	margin-right: 40px;
}
#event_search input[type="submit"]{
	float:left;
	margin-left:120px;
	background-image: url("images/bg_button.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #CDD8E7;
    cursor: pointer;
    font-size: 12px;
    height: 21px;
    line-height: 21px;
    padding: 0 10px 4px;
    text-decoration: none !important;
	width: auto;
}


/*
----------------------------------------------------------------
BOX CONTENT RIGHT
----------------------------------------------------------------
*/
#content_right .tx-cal-controller{
	float: left;
	width: 225px;
	line-height: 13px;
}
#content_right .tx-cal-controller a{
	text-decoration: none;
	color:#333333;
}
#event_box_right .item{
	float:left;
	width:100%;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #E5E4E4;
	background:none;
}
#event_box_right .item .date{
	float:left;
	width:100%;
	font-size:11px;
	line-height:16px;
	color: #0068AB;
}
#event_box_right .item .category{
	float:left;
	width:100%;
	font-size:11px;
	line-height:16px;
	color:#646464;
}
#event_box_right .item h3{
    color: #0068AB;
    float: left;
    font-size: 20px;
    line-height: 1em;
    padding: 5px 0 4px;
    width: 220px;
}
#event_box_right .item .short_description{
	line-height:16px;	
}


/*
----------------------------------------------------------------
List View
----------------------------------------------------------------
*/
#content_center .tx-cal-controller{
	float: left;
	width: 490px;
	padding-bottom: 20px;
}
#content_center .tx-cal-controller .pagebrowser{
	float: left;
	width: 490px;
	padding-bottom: 20px;	
}

#content_center .tx-cal-controller .event_list_items{
	float: left;
	width: 490px;
	padding-bottom: 20px;
}

#content_center .tx-cal-controller .event_list_items .list_item:first-child{
	border-top: none;	
}

/*
Page browser
-----------------------------
*/
#content_center .tx-cal-controller .pagebrowser.top{
	border-bottom: 1px solid #E5E4E4;
    border-top: 1px solid #E5E4E4;
    float: left;
    height: 32px;
    line-height: 20px;
    margin: 0 0px 20px 0;
    padding: 0;
    position: relative;
    width: 490px;
}

#content_center .tx-cal-controller .pagebrowser.bottom{
	border-bottom: 1px solid #E5E4E4;
	border-top: 1px solid #E5E4E4;
    float: left;
    height: 32px;
    line-height: 20px;
    margin: 0px 0px 0px 0px;
    padding: 0;
    position: relative;
    width: 490px;
}

#content_center .tx-cal-controller .pagebrowser .pagebrowser_pageof{
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 145px;
	margin: 0px;
	border: none;
	padding-top: 6px;
	padding-bottom: 6px;
	width: 200px;
	
	text-align: center;
}

#content_center .tx-cal-controller .pagebrowser .pagebrowser_previous{
	position: absolute;
	z-index: 10;
	left: 0px;
	top: 0px;
	margin: 0px;
	border: none;
	padding-top: 6px;
	padding-bottom: 6px;
	width: 145px;
	
	text-align: left;
}

#content_center .tx-cal-controller .pagebrowser .pagebrowser_previous .previous a{
	padding-left: 30px;	
}

#content_center .tx-cal-controller .pagebrowser .pagebrowser_next{
	position: absolute;
	z-index: 10;
	right: 0px;
	top: 0px;
	margin: 0px;
	border: none;
	padding-top: 6px;
	padding-bottom: 6px;
	width: 145px;
	
	text-align: right;
}

#content_center .tx-cal-controller .pagebrowser .pagebrowser_next .next a{
	padding-right: 30px;	
}



/*
----------------------------------------------------------------
Single View
----------------------------------------------------------------
*/
#event_single{
	border-bottom: 1px solid #E5E4E4;
	padding-bottom:15px;
	margin-bottom:5px;
	width: 100%;
}
.event_registration{
	float:right;
	margin:10px 0px;
}
.button_event_registration{
	border:none;
	
	cursor:pointer;
	float:left;
	font-size:12px;
	
	height:21px;
	line-height:19px;
	color:#FFF;
	padding-top: 0px;
	/*padding-bottom: 4px;*/
	padding-left:10px;
	padding-right:10px;
	
	text-decoration:none !important;
	width:auto;
	
	background-image: url("images/bg_button.png");
    background-position: 0 0;
    background-repeat: repeat-x;
}
.button_event_registration:hover{
	color:#E5E4E4;
}


/*
----------------------------------------------------------------
PAGE BROWSE
----------------------------------------------------------------
*/
#event_list_navigation_top{
	float: left;
	margin: 0px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ADADAD;
	padding: 0 0 15px;
	width: 100%;
}
#event_list_navigation_bottom{
	float: left;
	width: 100%;
}
#event_list_navigation_top dd,
#event_list_navigation_bottom dd{
	float: left;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#event_list_navigation_top .browseLinksWrap,
#event_list_navigation_bottom .browseLinksWrap{
	float: right;
	margin: 0px;
	padding: 0px;
	width: auto;
}
#event_list_navigation_top a,
#event_list_navigation_bottom a,
#event_list_navigation_top .activeLinkWrap,
#event_list_navigation_bottom .activeLinkWrap{
	margin-left:5px;
}
#event_list_navigation_top .activeLinkWrap,
#event_list_navigation_bottom .activeLinkWrap{
	font-weight:bold;
}
#event_list_navigation_top p,
#event_list_navigation_bottom p{
	display: inline;
}	

#event_list_navigation_top .tx-ttnews-browsebox table,
#event_list_navigation_bottom .tx-ttnews-browsebox table{
	float: right;
}
#event_list_navigation_top .tx-ttnews-browsebox a,
#event_list_navigation_top .tx-ttnews-browsebox .tx-ttnews-browsebox-SCell a,
#event_list_navigation_bottom .tx-ttnews-browsebox a,
#event_list_navigation_bottom .tx-ttnews-browsebox .tx-ttnews-browsebox-SCell a{
	margin-right: 8px;
	font-size: 12px;
}
#event_list_navigation_top .tx-ttnews-browsebox span,
#event_list_navigation_bottom .tx-ttnews-browsebox span{
	margin: 0px;
	font-size: 12px;
}

/* Calendar View */
.tx-cal-controller table.month-small{
	float: left;
}	