/*
===================================================================================================================
Menu
===================================================================================================================
*/
#sub_menu{
	float: left;
	width: 215px;
	padding-left:10px;
}
#sub_menu a{
	text-decoration:none;
	font-size:12px;
	color:#333333;
}

/* LEVEL 1*/
#sub_menu .level1{
	float:left;
	width: 215px;
	height:auto ;
	list-style:none;
}
#sub_menu .level1 a{
	float:left;
	width:195px;
	line-height:15px;
	list-style:none;	
	padding:5px 10px;		
	border-top: 1px solid #e5e4e4;
}
#sub_menu .level1 a:hover{
	background-color:#f5f5f5;
}

#sub_menu .level1_act a{
	background-color:#f5f5f5;
	font-weight: bold;
}


#sub_menu .level1_act a,
#sub_menu .level1_act a:hover{
	border-bottom: 1px solid #e5e4e4;
	background-color:#f5f5f5;
}

#sub_menu .level1_last{
	border-bottom: 1px solid #e5e4e4;
}
#sub_menu .not_sub a:hover,
#sub_menu .not_sub a{
	border-bottom: 0px solid #e5e4e4;
}

/* LEVEL 2*/
#sub_menu .sub_sub_menu{
	float:left;
	width: 215px;
	margin:5px 0px;
}
#sub_menu .sub_sub_menu .level2{
	float:left;
	background-image:none;
}
#sub_menu .sub_sub_menu .level2 a{
	font-size:12px;
	background:none;
	border:none;
	color:#333333;
	float:left;
	width:185px;
	line-height:14px;	
	padding:3px 10px 3px 20px;
	font-weight:normal;
}
#sub_menu .sub_sub_menu a:hover,
#sub_menu .sub_sub_menu .level2_act a,
#sub_menu .sub_sub_menu .level2_act a:hover{
	background-color:#FFF;
	background-image: url("images/menu_bg_level1.png");
    background-position: 10px 6px;
    background-repeat: no-repeat;
    padding:3px 10px 3px 20px;
	border:none;
	font-weight:normal;
	color: #333333;
	width: 185px;
}
#sub_menu .sub_sub_menu .level2_last{
	float:left;
	padding-bottom:6px;
}

/* LEVEL 3*/
#sub_menu .sub_sub_sub_menu{
	float:left;
	width: 215px;
	margin:0px 0px;
}
#sub_menu .sub_sub_sub_menu .level3{
	float:left;
	background-image:none;
}
#sub_menu .level2_act .sub_sub_sub_menu .level3 a{
	font-size:12px;
	background:none;
	border:none;
	color:#333333;
	float:left;
	width:170px;
	line-height:13px;	
	padding:2px 10px 2px 35px;	
}
#sub_menu .level2_act .sub_sub_sub_menu .level3 a:hover,
#sub_menu .level2_act .sub_sub_sub_menu .level3_act a,
#sub_menu .level2_act .sub_sub_sub_menu .level3_act a:hover{
	background-image: url("images/menu_bg_level2.png");
	color: #333333;
    background-position: 25px 7px;
    background-repeat: no-repeat;
	padding:2px 10px 2px 35px;
	border:none;
	width:175px;
	line-height:13px;
}
#sub_menu .sub_sub_sub_menu .level3_last{
	float:left;
	padding-bottom:6px;
}

/* LEVEL 4*/
#sub_menu .sub_sub_sub_sub_menu{
	float:left;
	width: 215px;
	margin:0px 0px;
}
#sub_menu .level3_act .level4{
	float:left;
	background-image:none;
}
#sub_menu .level3_act .sub_sub_sub_sub_menu .level4 a{
	font-size:12px;
	background:none;
	border:none;
	color:#333333;
	float:left;
	width:160px;
	line-height:12px;	
	padding:2px 10px 2px 50px;	
}
#sub_menu .level3_act .sub_sub_sub_sub_menu .level4 a:hover,
#sub_menu .level3_act .sub_sub_sub_sub_menu .level4_act a,
#sub_menu .level3_act .sub_sub_sub_sub_menu .level4_act a:hover{
    background-position: 40px 9px;
    background-repeat: no-repeat;
    padding:2px 20px 2px 50px;
	line-height:12px;	
	border:none;	
	background-image: url("images/menu_bg_level3.png");
	color: #333333;
}
#sub_menu .level3_act .level4_last{
	float:left;
	padding-bottom:3px;
}

/*
===================================================================================================================
Top Menu CONTENT
===================================================================================================================
*/
#top_menu_ul .navigation_content{
	float:left;
	width: 245px;
}