@font-face {
    font-family: 'Rokkitt';
    src: url("../fonts/rokkitt/rokkitt-webfont.ttf");
}

@font-face {
    font-family: 'Rockwbol';
    src: url("../fonts/rockwbol/RockwBol.ttf");
}
/*
a:-webkit-any-link {
	text-decoration: none;
} */


body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

#profiltable {
	width: 100%;
	margin-right: 10px;
}

#searchtable  li{
	height: 25px;
    float: left;
    width: 33%;
}

#searchtable ul {
	margin-bottom: 0px;
}

form {
	padding-bottom: 15px;
}

table.contenttable {
	border-spacing: 0px;
	font-size: 15px;
	border: solid 1px #000;
    border-bottom: none;
}

table.contenttable td, th {
	border-bottom: solid 1px #000;
}

table.contenttable td,th {
	padding: 10px;
}

#komptable {
	float: left;
	margin-right: 0px;
}

.checkbox {
	margin: 10px;
}

label {
	display:block;
	padding: 3px;
}

.search {
	width: 69%;
	height: 25px;
}

.search_button {
	margin-left: 180px;
	width: 60px;
	height: 25px;
}

#suchfunktion {
	clear: both;
}

#suchergebnis {
	margin-top:20px;
}

.anmelden {
	width: 300px;
}

.anmelden td {
	padding: 5px;

}

fieldset, img {
    border: 0 none;
}

address, caption, cite, code, dfn, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul {
    list-style: none outside none;
}

div.csc-textpic {
	margin-top: 10px;	
}

#content_center ol {
	list-style: decimal;
	margin-left: 35px;
}

#content_center ul {
	padding-left: 35px;
}

#content_center ul.contextMenu {
	padding-left: 0px;
}

#content_center ul li {
    list-style: square outside;
}

#content_center form ol {
	margin-left: 0;
}

#content_center form ol li {
	margin-top: 5px;
}

h1, h2, h3, h4, h5, h6, h7 {
	font-family: rokkitt,Arial,Helvetica,sans-serif;
    font-weight: normal;
}

body {
	background-image:url(../images/bg_body.png);
    background-position: 0 1px;
    background-repeat: repeat-x;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
}

body1 {
	background-image:url(../images/bg_body.png);
    background-position: 0 1px;
    background-repeat: repeat-x;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 18px;
}

h1 {
    color: #333333;
    font-size: 30px;
    margin-bottom: 30px;
}

h2 {
    color: #333333;
    font-size: 24px;
    width: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
}

h7 {
    font-size: 20px;
	text-decoration: underline;
}

h7 a {
    color: #0068AB;
    font-size: 20px;
}

.external, .external-link, .external-link-new-window {
    background-image: url("../images/icons/rte/external_link_new_window.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 15px;
}
.download {
    background-image: url("../images/icons/rte/download.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 15px;
}
.mail {
    background-image: url("../images/icons/rte/mail.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 15px;
}
.lightbox {
    background-image: url("../images/icons/rte/lightbox.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 15px;
}
.back_link a, #calendar-event-backlink a {
    background-image: url("../images/icons/rte/internal_link_back.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 15px;
}
a, a .more, #content_right a {
    color: #0068AB;
    text-decoration: underline;
    cursor: pointer;
}
a:hover, a:hover .more, #content_right a:hover {
    color: #00b1ff;
}
#main {
    float: left;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

#layout {
    height: auto;
    margin: 0 auto;
    width: 990px;
}
#header {
    float: left;
    height: 100px;
    width: 990px;
}
#logo {
    background-color: white;
    float: left;
    height: 70px;
    margin-left: 10px;
    margin-top: -15px;
    width: 335px;
}
#navigation_top {
    float: left;
    height: 32px;
    width: 990px;
}
#content {
    background-color: #FFFFFF;
    float: left;
    min-height: 300px;
    padding: 10px 0 20px;
    width: 990px;
}
#content_left {
    float: left;
    height: auto;
    width: 243px;
}
#content_center {
    float: left;
    padding: 30px 9px 10px 5px;
    width: 700px;
	vertical-align:central;	
}
#content_center_top {
    float: left;
    height: auto !important;
    margin-top: 7px;
    margin-bottom: 20px;
    min-height: 30px;
    width: 100%;
}
#content_center h7 {
    float: left;
    line-height: 1em;
    padding: 2px 0 0;
}
#content_center .content_icons_top {
    float: right;
    height: 20px;
    padding: 8px 0 0;
    width: 70px;
}
#content_center .content_icons_bottom {
    border-top: 1px solid #E5E4E4;
    float: left;
    height: 21px;
    line-height: 21px;
    padding: 5px 0;
    width: 100%;
}
#content_center .content_icons_bottom .facebook {
    float: left;
    width: 127px;
}
#content_center .content_icons_bottom .twitter {
    float: left;
    width: 105px;
}
#content_center .content_icons_bottom .google_plus {
    float: left;
    width: 130px;
}
#content_right {
    float: left;
    padding: 5px 10px 20px 13px;
    width: 220px;
}
