
@font-face {
	font-family: 'rokkitt';
	src:url(../fonts/rokkitt/rokkitt-webfont.eot);	 
	src:url('fonts/rokkitt/rokkitt-webfont.ttf') format('truetype'), 
	src:url('fonts/rokkitt/rokkitt-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'rockwell';
	src: url('fonts/rockwell/rockwell_std_bold-webfont.eot');
	src: local('?'), 
	url('fonts/rockwell/rockwell_std_bold-webfont.woff') format('woff'), 
	url('fonts/rockwell/rockwell_std_bold-webfont.ttf') format('truetype'), 
	url('fonts/rockwell/rockwell_std_bold-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'rockw';
	src: url('fonts/rockw/Rockw.eot');
	src: local('?'), 
	url('fonts/rockw/Rockw.woff') format('woff'), 
	url('fonts/rockw/Rockw.ttf') format('truetype'), 
	url('fonts/rockw/Rockw.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'rockwbol';
	src: url('fonts/rockwbol/RockwBol.eot');
	src: local('?'), 
	url('fonts/rockwbol/RockwBol.woff') format('woff'), 
	url('fonts/rockwbol/RockwBol.ttf') format('truetype'), 
	url('fonts/rockwbol/RockwBol.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*
@font-face {
	font-family: 'rockwbolIta';
	src: url('fonts/rockwbolIta/RockwBolIta.eot');
	src: local('?'), 
	url('fonts/rockwbolIta/RockwBolIta.woff') format('woff'), 
	url('fonts/rockwbolIta/RockwBolIta.ttf') format('truetype'), 
	url('fonts/rockwbolIta/RockwBolIta.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/