
* {}

a:-webkit-any-link {
	text-decoration: none;
}


body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

#profiltable {
	width: 100%;
	margin-right: 10px;
}

#searchtable  li{
	height: 25px;
    float: left;
    width: 33%;

}

#searchtable ul {
	margin-bottom: 0px;
}

form {
	padding-bottom: 15px;
}

table.contenttable {
	border: 1px solid #888888;
	border-spacing: 0px;
	background-color: #EEEEEE;
	font-size: 15px;
}

table.contenttable td,th {
	border: 1px solid #DDDDDD;
	padding: 10px;
}

#komptable {
	float: left;
	margin-right: 0px;
}



.checkbox {
	margin: 10px;
}

label {
	display:block;
	padding: 3px;
}

.search {
	width: 50%;
}

#suchfunktion {
	clear: both;
}

.anmelden {
	width: 300px;
}

.anmelden td {
	padding: 5px;

}

fieldset, img {
    border: 0 none;
}

address, caption, cite, code, dfn, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul {
    list-style: none outside none;
}

div.csc-textpic {
	margin-top: 10px;	
}

#content_center ol {
	list-style: decimal;
	margin-left: 35px;
}

#content_center ul {
	padding-left: 35px;
}

#content_center ul.contextMenu {
	padding-left: 0px;
}

#content_center ul li {
    list-style: square outside;
}

#content_center form ol {
	margin-left: 0;
}

#content_center form ol li {
	margin-top: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
	font-family: rokkitt,Arial,Helvetica,sans-serif;
    font-weight: normal;
	margin-bottom: 20px;
}

body {
    background-color: #E7E6DE;
    background-image: url("../images/bg_body.png");
    background-position: 0 1px;
    background-repeat: repeat-x;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
}
h7 {
    color: #333333;
    font-family: rokkitt,Arial,Helvetica,sans-serif;
    font-size: 22px;
}
h1 {
    color: #333333;
    font-family: rokkitt,Arial,Helvetica,sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

h2 {
    color: #333333;
    font-family: rokkitt,Arial,Helvetica,sans-serif;
    font-size: 16px;
	width:200px;
}
.external, .external-link, .external-link-new-window {
    background-image: url("../images/icons/rte/external_link_new_window.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 15px;
}
.download {
    background-image: url("../images/icons/rte/download.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 15px;
}
.mail {
    background-image: url("../images/icons/rte/mail.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 15px;
}
.lightbox {
    background-image: url("../images/icons/rte/lightbox.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 15px;
}
.back_link a, #calendar-event-backlink a {
    background-image: url("../images/icons/rte/internal_link_back.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 15px;
}
a, a .more, #content_right a {
    color: #666667;
    text-decoration: underline;
    cursor: pointer;
}
a:hover, a:hover .more, #content_right a:hover {
    color: #0068AB;
    text-decoration: none;
}
.internal, .internal-link, .internal-link-new-window, .more a, a .more {
    background-image: url("../images/icons/rte/internal_link.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 15px;
    text-decoration: underline;
}

#main {
    float: left;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

#layout {
    height: auto;
    margin: 0 auto;
    width: 990px;
}
#header {
    float: left;
    height: 100px;
    width: 990px;
}
#logo {
    background-color: white;
    float: left;
    height: 70px;
    margin-left: 10px;
    margin-top: -15px;
    width: 335px;
}
#header #header_content {
    float: left;
    height: 85px;
    position: relative;
    width: 645px;
}
#service_navigation_header {
    float: left;
    height: 13px;
    line-height: 13px;
    padding: 2px 10px 0;
    width: 625px;
}
#service_navigation_header ul {
    float: right;
    padding: 0;
}
#service_navigation_header ul li {
    color: #C8C8C8;
    float: left;
}
#service_navigation_header ul a {
    color: #7A7A7A;
    float: left;
    font-size: 11px;
    text-decoration: none;
}
#service_navigation_header ul a:hover {
    color: #0068AB;
    text-decoration: underline;
}
#search_button_top {
    background-image: url("../images/icons/search_button_top_icon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    float: right;
    height: 45px;
    width: 60px;
}
#search_button_top.selected {
    background-position: 0 -45px;
}
#search_box {
    border-right: 1px solid #7A7A7A;
    display: none;
    height: 29px;
    padding: 8px 0 0;
    position: absolute;
    right: 0;
    top: 45px;
    width: 293px;
}
.search_link {
    float: right;
    width: 30px;
}
.search_link a {
    background-image: url("../images/icons/head_search_icon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    float: right;
    height: 29px;
    text-decoration: none;
    width: 30px;
}
.search_input {
    float: right;
    width: 270px;
}
.search_input .text_field {
    float: right;
}
#search_box input.buttonSearchTop {
    background-image: url("../images/bg_button2.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    height: 26px;
    line-height: 21px;
    padding: 0;
    width: 70px;
}
#search_box input.buttonSearchTop:hover {
    background-image: url("../images/bg_button2h.png");
    color: #FFFFFF;
}
#search_box input.inputSearchTop {
    border: 1px solid #C8C8C8;
    float: left;
    height: 20px;
    margin: 0 10px 0 0;
    width: 180px;
}
#language_navigation {
    border-left: 1px solid #7A7A7A;
    border-right: 1px solid #7A7A7A;
    float: right;
    height: 38px;
    line-height: 1.2em;
    padding: 7px 0 0;
    text-align: center;
    width: 60px;
}
#language_navigation a {
    color: #7A7A7A;
    float: left;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 60px;
}
#language_navigation a:hover {
    color: #0068AB;
    text-decoration: underline;
}
#language_navigation a.selected {
    color: #000000;
    font-weight: bold;
}
#language_navigation a.selected:hover {
    text-decoration: none;
}
#loginform {
    border-left: 1px solid #7A7A7A;
    float: right;
    height: 38px;
    line-height: 1.2em;
    padding: 7px 0 0;
    /*text-align: center*/;
    width: 250px;
}

#navigation_top {
    float: left;
    height: 32px;
    width: 990px;
}
#header_image {
    float: left;
    height: 297px;
    width: 990px;
}
#header_image img {
    display: none;
}
#anker1 {
    float: left;
    height: 0;
    width: 990px;
}
#second_navigation_wrapper {
    float: left;
    margin-bottom: 10px;
    width: 990px;
}
#content {
    background-color: #FFFFFF;
    float: left;
    min-height: 300px;
    padding: 10px 0 20px;
    width: 990px;
}
#content_left {
    float: left;
    height: auto;
    width: 243px;
}
.subnavigation_title {
    color: #333333;
    font-family: rokkitt,Arial,Helvetica,sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px 0 0 10px;
}
#content_center {
    float: left;
    padding: 30px 9px 10px 5px;
    width: 700px;
	vertical-align:central;	
}
#content_center.largeContent {
    float: left;
    padding: 0 10px 10px 5px;
    width: 732px;
}
#content_center_top {
    float: left;
    height: auto !important;
    margin-top: 7px;
    margin-bottom: 20px;
    min-height: 30px;
    width: 100%;
}
#content_center h7 {
    float: left;
    line-height: 1em;
    padding: 2px 0 0;
    width: 420px;
}
#content_center .content_icons_top {
    float: right;
    height: 20px;
    padding: 8px 0 0;
    width: 70px;
}
.content_icons_top a {
    cursor: pointer;
    float: left;
    height: 16px;
    margin-left: 4px;
    padding: 0 !important;
    text-indent: -1000em;
    width: 16px;
}
.content_icons_top .rss_news a {
    background-image: url("../images/icons/social.png");
    background-position: -86px 0;
    background-repeat: no-repeat;
    float: right;
}
.content_icons_top .addthis_button_email {
    background-image: url("../images/icons/social.png");
    background-position: -46px 0;
    background-repeat: no-repeat;
}
.content_icons_top .addthis_button_print {
    background-image: url("../images/icons/social.png");
    background-position: -66px 0;
    background-repeat: no-repeat;
}
.content_icons_top .rss_news a:hover {
    background-position: -86px bottom;
}
#content_area_icons .addthis_button_email:hover, #content_area_icons .addthis_button_print:hover {
    background-position: 0 bottom;
}
.content_icons_top a span {
    display: none;
}
.addthis_toolbox {
    float: right;
}
#content_center .content_icons_bottom {
    border-top: 1px solid #E5E4E4;
    float: left;
    height: 21px;
    line-height: 21px;
    padding: 5px 0;
    width: 100%;
}
#content_center .content_icons_bottom .facebook {
    float: left;
    width: 127px;
}
#content_center .content_icons_bottom .twitter {
    float: left;
    width: 105px;
}
#content_center .content_icons_bottom .google_plus {
    float: left;
    width: 130px;
}
iframe[name="twttrHubFrameSecure"], iframe[name="twttrHubFrame"] {
    display: none;
}
#content_right {
    float: left;
    padding: 5px 10px 20px 13px;
    width: 220px;
}
#content_right #event_box_right {
    float: left;
    padding: 0 0 20px;
    width: 220px;
}
#open_main_navigation {
    background-color: #FFFFFF;
    float: left;
    height: auto;
    margin-bottom: 10px;
    width: 990px;
}
.open_main_navigation_item {
    float: left;
    height: auto;
    padding: 10px;
}
#open_main_navigation .navi_0 {
    width: 140px;
}
#open_main_navigation .navi_1 {
    width: 210px;
}
#open_main_navigation .navi_2 {
    width: 250px;
}
#open_main_navigation .navi_3 {
    width: 140px;
}
#open_main_navigation .navi_4 {
    width: 150px;
}
.open_main_navigation_item span a {
    color: #0068AB;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.open_main_navigation_item ul {
    margin-top: 5px;
}
.open_main_navigation_item ul li {
    float: left;
    margin: 2px 0;
    width: 100%;
}
.open_main_navigation_item ul li a {
    color: #808080;
    line-height: 12px;
    text-decoration: none;
}
.open_main_navigation_item ul li a:hover {
    color: #0068AB;
    text-decoration: underline;
}
.pp_bottom {
    display: none !important;
}
.pp_content_container .pp_left {
    padding-left: 5px !important;
}
.pp_content_container .pp_details {
    margin-top: 7px !important;
}
.pp_loaderIcon {
    margin: -14px 0 0 -14px !important;
}
.pp_top, .pp_bottom {
    height: 5px !important;
}